body, html {
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

@keyframes random-img {
    from {
        transform: translateX(100px);
        filter:blur(20px)
    }
    to {
        transform: translateX(0);
        filter: blur(0);
    }
}
#fighters {
    list-style: none;
    margin: 0;
    padding: 0;
}
.fighter-box {
    color: #fff;
    margin: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    width: 650px;
    position: relative;
    background-repeat: repeat;
    background: url(../assets/misc/background.webp);
    background-size: 6px;
}
.gradient {
    opacity: 0.4;
    position: absolute;
    top: 0;
    z-index: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.fighter-icon {
    position: relative;
    z-index: 1;
}
.series-logo {
    position: absolute;
    left: 25px;
    top: 10px;
    opacity: 0.4;
    height: 75px;
    pointer-events: none;
}
#random-fighter {
    width: 600px;
    position: relative;
    margin: auto;
    height: 75vh;
}
#random-logo {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    width: 200px;
}
#random-name {
    color: #fff;
    font-size: 52px;
    z-index: 1;
    position: absolute;
    bottom: 0;
    text-shadow: #000 2px 2px;
    text-transform: uppercase;
    z-index: 2;
}
#random-img {
    height: 90%;
    z-index: 1;
    position: absolute;
    right: -150px;
    animation: 0.3s ease-in-out alternate random-img;
}
#random-background {
    background-repeat: repeat;
    background: url(../assets/misc/background.webp);
    background-size: 9px;
    clip-path: polygon(25% 0%, 100% 0%, 84% 100%, 0% 100%);
    position: absolute;
    top: 0;
    left: -50px;
    right: -50px;
    bottom: 0;
    z-index: 0;
}
#random-colour {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50px;
    right: -50px;
    opacity: 0.4;
    pointer-events: none;
    clip-path: polygon(25% 0%, 100% 0%, 84% 100%, 0% 100%);
}
h3 {
    z-index: 2;
    text-shadow: #000 2px 2px;
    text-transform: uppercase;
    /*margin-right: 300px;*/
    letter-spacing: -0.2px;
}

#select-screen {
    position: relative;
    overflow: hidden;
}
#smash-ball {
    position: absolute;
    width: 50%;
    opacity: 0.3;
    top: 0;
    left: 0;
}
nav {
    width: 100%;
    height: 60px;
    padding: 30px 0;
}
nav img {
    height: 100%;
    display: block;
    margin: auto;
}

.fighter-name {
    position: relative;
    z-index: 3;
}
.favourite {
    color: green!important;
}
.removed {
    color: red!important;
}

#container {
    left: 0px;
    top: -100px;
    right: 0;
    bottom: -100px;
    overflow: hidden;
    position: fixed;
    z-index: 998;
    pointer-events: none;
}

.DKTIME-container {
    background: linear-gradient(180deg, rgba(255,192,0,0) 0%, rgba(255,231,0,0.5970763305322129) 100%);
}

#animate{
    margin: 0 auto;
    width: 20px;
    overflow: visible;
    position: relative;
}
