:root {
    --fighter-colour: #eb8282;
    --fighter-colour-rgba: rgba(235,130,130,0.4);
    --translateX: -0px;
    --f-box-height: 94px;
    --deg: 0deg;
}

* {
    cursor: url("https://raw.githubusercontent.com/arturo-enriquez/cursor-smash-ultimate/master/cursor/img/small/default.png"), auto;
  }

  button, i, .fighter-box__btn img, .random-btn {
    cursor: url("https://raw.githubusercontent.com/arturo-enriquez/cursor-smash-ultimate/master/cursor/img/small/pointer.png"), pointer;
  }
  
  body, html {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #161616;
    color: #f1f1f1;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
  }
  
  .header {
    position: relative;
    width: 100%;
    background: linear-gradient(-45deg, var(--fighter-colour-rgba) 20%, transparent 80%);
  }
  
  .header::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(https://random-smash.netlify.app/assets/misc/background.webp);
    background-size: 7px;
    opacity: 0.5;
    z-index: 0;
  }
  
  .random-btn {
    position: fixed;
    bottom: 16px;
    right: 32px;
    z-index: 100;
    border-radius: 100px;
    padding: 16px 32px;
    outline: none;
    border: none;
    color: #fff;
    text-shadow: 4px 3px 0 #000, 4px 0px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    font-size: 24px;
    font-weight: 700;
    background-color: var(--fighter-colour);
    box-shadow: inset 0 0 0 2px rgba(0,0,0,0.5);
  }
  
  .nav {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 16px 0;
  }
  
  .nav__logo {
    height: 50px;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .nav__menu-btn {
    position: absolute;
    right: 32px;
    z-index: 999;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    border: none;
    outline: none;
    background-color: rgba(0,0,0,0.3);
    font-size: 25px;
    line-height: 25px;
    color: #fff;
    cursor: pointer;
  }
  
  .random-display__container {
    position: relative;
    z-index: 1;
    padding: 32px;
    box-sizing: border-box;
    max-width: 400px;
    margin: auto;
  }
  
  .random-display__logo {
    width: 50%;
    max-width: 250px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .img-set__container {
    width: 100%;
    overflow: hidden;
    max-width: 500px;
    margin: auto;
  }
  
  .random-display__img-set {
    width: 100%;
    display: inline-flex;
    transform: translateX(var(--translateX));
    transition: transform ease 0.2s;
  }
  
  .random-display__img {
    width: 100%;
    object-fit: contain;
  }
  
  .random-display__name {
    text-transform: uppercase;
    position: absolute;
    bottom: 0px;
    left: 32px;
    font-size: 52px;
    font-weight: 900;
    text-shadow: 6px 4px 0 #000, 4px 0px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  }
  
  
  
  
  @media only screen and (max-width: 320px) {
    .random-display__name {
      font-size: 24px;
    }
  }

  .fighter-section__title {
    font-family: 'Poppins';
    text-align: center;
    font-size: 32px;
  }
  
  
  .fighter-section__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    max-width: 1250px;
    grid-gap: 10px;
    padding-bottom: 100px;
    margin: auto;
  }
  
  .fighter-box {
    position: relative;
    height: var(--f-box-height);
  }
  .fighter-box::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(https://random-smash.netlify.app/assets/misc/background.webp);
    background-size: 6px;
    opacity: 0.5;
    z-index: 0;
  }
  
  .fighter-box__content {
    position: relative;
    display: flex;
    height: 100%;
    z-index: 2;
  }
  
  .fighter-box__logo {
    height: var(--f-box-height);
    width: var(--f-box-height);
    object-fit: contain;
    opacity: 0.4;
  }
  
  
  .fighter-box__name {
    text-shadow: #000 2px 2px;
    text-transform: uppercase;
    margin: 8px;
    letter-spacing: -0.1px;
    font-weight: bold;
  }
  
  .fighter-box__btn {
    height: 48px;
    width: 48px;
    padding: 12px;
    box-sizing: border-box;
    outline: none;
    border: none;
    background-color: rgba(0,0,0,0.2);
  }
  .fighter-box__btn img {
      width: 100%;
      height: 100%;
      object-fit: contain;
  }
  
  .fighter-box__img {
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
    height: var(--f-box-height);
    z-index: 1;
  }
  
  
  
  
  @media only screen and (max-width: 500px) {
   .fighter-section__container {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }


.favourite {
    box-shadow: 0 0 0 2px gold;
    color: gold;
}
.removed {
    opacity: 0.3;
}

.crimeStoppers_modal {
    position: fixed;
    z-index: 99999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
}

.modal_box {
    width: 500px;
    background-color: #000;
    margin: auto;
    padding: 32px;
}

.invisible {
    display: none;
}





.dk-time__container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: linear-gradient(
  var(--deg)
  , rgba(255,192,0,0) 0%, rgba(255,231,0,0.5970763305322129) 100%);
    transition: all ease 1s;
    pointer-events: none;
  }

  #dk-time-btn {
      display: inline-block;
      margin: auto;
  }
  
  .banana {
    animation: fall linear forwards;
    position: absolute;
    top: -50px;
  }
  
  @keyframes fall {
    to {
      transform: translateY(110vh);
    }
  }
